.baton_search {
    background-color: white;
    border-radius: 20px;
    border: 2px solid white;
}

.search_input {
    border: 2px solid black;
    border-radius: 100px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}

.search {

}